@keyframes shake {
    0% { transform: translate(4px, 0px) rotate(0deg); }
    10% { transform: translate(-3px, 0px) rotate(0deg); }
    20% { transform: translate(-5px, 0px) rotate(0deg); }
    30% { transform: translate(0px, 0px) rotate(0deg); }
    40% { transform: translate(3px, 0px) rotate(0deg); }
    50% { transform: translate(-3px, 0px) rotate(0deg); }
    60% { transform: translate(-5px, 0px) rotate(0deg); }
    70% { transform: translate(4px, 0px) rotate(0deg); }
    80% { transform: translate(-3px, 0px) rotate(0deg); }
    90% { transform: translate(3px, 0px) rotate(0deg); }
    100% { transform: translate(3px, 0px) rotate(0deg); }
}

span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.input_wrapper {
    position: relative;
}

.error_txt {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
}

#login_wrapper {
    display: table;
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 100vh;
}

    #middle {
        perspective: 100px;
        -webkit-perspective: 100px;
        -ms-perspective: 100px;
        -o-perspective: 100px;
        -moz-perspective: 100px;
    }

    #form {
        /*display: none;*/
        /*transform: translateZ(0px);*/
        /*-webkit-transform: translateZ(0px);*/
    }

    #title {
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
    }

    #email_input {
        margin-top: 10px;
    }

    #email {
        margin-top: 20px;
        background: rgba(255,255,255,0);
        width: 100%;
        height: 30px;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        outline: 0;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        border-bottom: 2px solid #93CFF4;
    }

    #email:placeholder-shown {
        color: #58656F;
    }

    #email::-webkit-input-placeholder {
        color: #58656F;
    }

    #password {
        margin-top: 20px;
        background: rgba(255,255,255,0);
        width: 100%;
        height: 30px;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        outline: 0;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        border-bottom: 2px solid #93CFF4;
    }

    #password:placeholder-shown {
        color: #58656F;
    }

    #password::-webkit-input-placeholder {
        color: #58656F;
    }

    #submit {
        display: inline-block;
        margin-top: 30px;
        padding: 10px 20px;
        color: #b0dcf6;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        border: 2px solid #93CFF4;
        border-radius: 5px;
    }

    #alert {
        display: none;
        padding: 20px 20px 0;
        transform: translateZ(60px);
        -webkit-transform: translateZ(60px);
        background: rgba(56,56,58,0.3);
        height: 128.2px;
        opacity: 0;
        overflow: hidden;
    }

        #alert_title {
            color: #93CFF4;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            text-align: center;
        }

        #alert_description {
            margin-top: calc(25px - (16px * 1.7 - 16px) / 2);
            margin-bottom: calc(20px - (16px * 1.7 - 16px) / 2);
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.7;
            text-align: center;
        }

    #complete {
        /*display: none;*/
        margin: 0 auto;
        width: 300px;
        height: 0;
        background: rgba(56,56,58,0.3);
        overflow: hidden;
    }

        #icon {
            opacity: 0;
        }

        #icon img {
            padding: 10px;
            width: 100px;
            height: auto;
            vertical-align: bottom;
            border: 2px solid #93CFF4;
            border-radius: 50px;
        }

        #name {
            margin-top: 20px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
            opacity: 0;
        }

        #user_email {
            margin-top: 15px;
            color: #fff;
            font-size: 16px;
            line-height: 1;
            opacity: 0;
        }

        #follwer {
            margin-top: 20px;
            float: left;
            width: 50%;
        }

            #follwer_title {
                color: #58656F;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
            }

            #follwer_number {
                margin-top: 10px;
                color: #93CFF4;
                font-size: 18px;
                font-weight: bold;
                line-height: 1;
            }

        #lesson {
            margin-top: 20px;
            float: right;
            width: 50%;
        }

            #lesson_title {
                color: #58656F;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
            }

            #lesson_number {
                margin-top: 10px;
                color: #93CFF4;
                font-size: 18px;
                font-weight: bold;
                line-height: 1;
            }