
.clear {
    clear: both;
}

#wrapper {
    margin: 0 auto;
    width: 980px;
    overflow: hidden;
}

    #free_video {
        width: 100%;
        overflow: hidden;
    }

.list_title {
    margin: 20px 0;
    /*padding: 0 10px;*/
    width: 100%;
    height: 40px;
    /*color: #AFDCDD;*/
    color: #fff;
    /*background: #444444;*/
    font-size: 18px;
    /*font-weight: bold;*/
    line-height: 40px;
}

.lesson, .comunity {
    position: relative;
    float: left;
    width: 320px;
    height: calc(320px / 16 * 9);
}

.comunity {
    perspective: 400px;
    -webkit-perspective: 400px;
}

.lesson:nth-child(3n+2), .comunity:nth-child(3n+2) {
    margin: 0 10px;
}

.lesson:nth-child(1n+4), .comunity:nth-child(1n+4) {
    margin-top: 10px;
}

    .comunity > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 320px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.8s;
    }

    .comunity_back {
        transform:rotateY(180deg);
        -webkit-transform:rotateY(180deg);
    }

    .comunity:hover .comunity_front {
        transform:rotateY(180deg);
        -webkit-transform:rotateY(180deg);
    }

    .comunity:hover .comunity_back {
        transform:rotateY(360deg);
        -webkit-transform:rotateY(360deg);
    }

        .lesson_img, .comunity_img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }

        .cover {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(39, 39, 39, 0.5);
            padding: 10px;
            width: 300px;
            height: 160px;
        }

            .lesson_info, .comunity_info {
                position: relative;
                margin: 0;
                width: calc(100%);
                height: 160px;
            }

                .new_lesson {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #fff;
                    width: 50%;
                    height: 14px;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1;
                }

                .favorite, .follow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                    width: 50%;
                    font-size: 14px;
                    line-height: 1;
                    text-align: right;
                }

                    .favorite i, .follow i {
                        font-size: 14px;
                        font-weight: bold;
                    }

                .info_bottom {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }

                    .lesson_title, .comunity_title {
                        margin-bottom: 5px;
                        width: 100%;
                        color: #fff;
                        font-size: 16px;
                        line-height: 1;
                    }

                    .category_wrapper {
                        overflow: hidden;
                    }

                        .category {
                            float: left;
                            margin-right: 5px;
                            padding: 5px;
                            background: #333333;
                            color: #fff;
                            font-size: 10px;
                            border-radius: 5px;
                        }

            .center {
                display: table;
                width: 100%;
                height: 160px;
            }

                .center span {
                    display: table-cell;
                    vertical-align: middle;
                }

                    .comunity_lesson {
                        color: #fff;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                    }









